@using CarDealership.Models

@foreach (Car automobile in Car.CarsMatchingSearch)
{
  <p>----------------------</p>
  <p>@automobile.GetMakeModel()</p>
  <p>@automobile.GetMiles() miles</p>
  <p>$@automobile.GetPrice()</p>
  <p>@Car.MakeSound("bang!")</p>
}

<a href="/">Go to beginning</a>